* text=auto
.gitattributes text eol=lf
.chezmoiignore text eol=lf

*.conf text eol=lf
*.config text eol=lf
*.css text eol=lf
*.ini text eol=lf
*.json text eol=lf
*.jsonc text eol=lf
*.lua text eol=lf
*.md text eol=lf
*.ps1 text eol=lf
*.sh text eol=lf
*.toml text eol=lf
*.tmpl text eol=lf

dot_config/mako/config text eol=lf
dot_local/bin/* text eol=lf
dot_zshrc text eol=lf
private_dot_ssh/private_config text eol=lf
