[Desktop Entry]
Version=1.0
Name=WhatsApp
Comment=WhatsApp Web
TryExec=chromium
Exec=chromium --app=https://web.whatsapp.com/
Terminal=false
Type=Application
Icon=whatsapp
Categories=Network;InstantMessaging;
StartupNotify=true
StartupWMClass=chrome-web.whatsapp.com__-Default
